.intro-sec-container {
  width: 100%;
  height: 204px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.intro-sec-text {
  font-size: 3rem;
  align-self: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.intro-sec-text2 {
  color: rgba(25, 25, 25, 0.48);
}
.intro-sec-text5 {
  color: rgb(153, 153, 153);
  width: 70%;
  font-size: 1.15rem;
  align-self: center;
  text-align: center;
}
@media(max-width: 991px) {
  .intro-sec-text {
    text-align: center;
  }
  .intro-sec-text5 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .intro-sec-text {
    text-align: center;
  }
}

.z-features-content-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}
.z-features-content-icon {
  fill: #595959;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.z-features-content-heading {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.z-features-content-text {
  color: #999999;
  text-align: center;
}




















.testimonial-testimonial-card {
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.testimonial-icon {
  width: var(--dl-size-size-small);
  margin-bottom: var(--dl-space-space-twounits);
}
.testimonial-testimonial {
  display: flex;
  font-size: smaller;
  align-items: center;
  flex-direction: column;
}
.testimonial-text {
  color: #595959;
  font-size: 12;
  text-align: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.testimonial-image {
  width: 52px;
  height: 52px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-halfunit);
}
.testimonial-text1 {
  font-size: 1.5rem;
  font-weight: 300;
}
.testimonial-text2 {
  align-self: center;
  text-align: center;
}






@media(max-width: 767px) {
  .testimonial-icon {
    height: var(--dl-size-size-small);
  }
}
@media(max-width: 479px) {
  .testimonial-testimonial-card {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.footer-image {
  height: 2rem;
  object-fit: cover;
}
.footer-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.footer-text {
  align-self: center;
}
.footer-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-link {
  display: contents;
}
.footer-mail {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-link1 {
  display: contents;
}
.footer-linkedin {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: 2px;
  text-decoration: none;
}
@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-text {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .footer-text1 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .footer-image {
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text1 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.management-external-communications-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.management-external-communications-container1 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.management-external-communications-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
}
.management-external-communications-features {
  width: 100%;
  height: 486px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.management-external-communications-container3 {
  width: 100%;
  height: 324px;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  margin-top: var(--dl-space-space-threeunits);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.management-external-communications-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}
.management-external-communications-icon {
  fill: #595959;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.management-external-communications-heading {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.management-external-communications-text {
  color: #999999;
  text-align: center;
}
.management-external-communications-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  background-color: #696969;
}
.management-external-communications-testimonials {
  width: 100%;
  height: 738px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  padding-top: 48px;
  flex-direction: column;
}
.management-external-communications-text1 {
  color: var(--dl-color-scheme-black);
  font-size: 1.15rem;
  max-width: 600px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.management-external-communications-container5 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.management-external-communications-banner {
  width: 100%;
  height: 94px;
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: center;
  background-color: #D9D9D9;
}
.management-external-communications-container6 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.management-external-communications-container7 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.management-external-communications-text2 {
  font-size: 1rem;
  align-self: center;
  text-align: center;
  font-weight: 600;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: 2px;
}
.management-external-communications-textinput {
  font-size: 0.75rem;
  border-color: #595959;
}
.management-external-communications-button {
  color: var(--dl-color-scheme-white);
  height: 29px;
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  transition: 0.3s;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
  background-color: var(--dl-color-scheme-black);
}
.management-external-communications-button:hover {
  color: var(--dl-color-scheme-black);
  background-color: transparent;
}
.management-external-communications-container8 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  border-color: #a7a7a7;
  border-style: dashed;
  border-width: 2px;
}
@media(max-width: 991px) {
  .management-external-communications-container3 {
    grid-template-columns: 1fr 1fr;
  }
  .management-external-communications-text1 {
    text-align: center;
  }
  .management-external-communications-container5 {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .management-external-communications-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .management-external-communications-testimonials {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .management-external-communications-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .management-external-communications-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .management-external-communications-container3 {
    grid-template-columns: 1fr;
  }
  .management-external-communications-testimonials {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .management-external-communications-banner {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .management-external-communications-button {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
}
