<div>
  <link href="./header-sec1.css" rel="stylesheet" />
  <header data-role="Header" class="header-sec1-header navbar">
    <img
      alt="logo"
      src="https://presentation-website-assets.teleporthq.io/logos/logo.png"
      class="header-sec1-image"
    />
    <div class="header-sec1-nav">
      <nav class="header-sec1-nav1">
        <a href="index.html" class="header-sec1-home"><span>HOME</span></a>
        <span class="header-sec1-home1"><span>|</span></span>
        <a
          href="management-external-communications.html"
          class="header-sec1-text"
        >
          <span>Services</span>
        </a>
        <span class="header-sec1-contact"><span>References</span></span>
        <span class="header-sec1-text1"><span>Contact</span></span>
      </nav>
    </div>
    <div class="header-sec1-btn-group">
      <button class="header-sec1-login button"><span>Login</span></button>
      <button class="header-sec1-register button"><span>Register</span></button>
    </div>
    <div data-type="BurgerMenu" class="header-sec1-burger-menu">
      <svg viewBox="0 0 1024 1024" class="header-sec1-icon">
        <path
          d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
        ></path>
      </svg>
    </div>
    <div data-type="MobileMenu" class="header-sec1-mobile-menu">
      <div class="header-sec1-nav2">
        <div class="header-sec1-container"></div>
      </div>
      <div></div>
    </div>
  </header>
</div>
