<div>
  <link href="./naviagation-management.css" rel="stylesheet" />
  <nav class="naviagation-management-nav">
    <a href="index.html" class="naviagation-management-home">
      <span>HOME</span>
    </a>
    <span class="naviagation-management-home1"><span>|</span></span>
    <a
      href="management-external-communications.html"
      class="naviagation-management-text"
    >
      <span>Services</span>
    </a>
    <span class="naviagation-management-contact"><span>References</span></span>
    <span class="naviagation-management-text1"><span>Contact</span></span>
  </nav>
</div>
