<div>
  <link href="./offering-sections.css" rel="stylesheet" />
  <nav class="offering-sections-nav">
    <a
      href="management-external-communications.html"
      class="offering-sections-navlink"
    >
      <div class="offering-sections-container button">
        <span class="offering-sections-text"><span>Management</span></span>
        <span class="offering-sections-text1">
          <span>Internal Communications</span>
        </span>
      </div>
    </a>
    <a href="branding-external-communications.html">
      <div class="offering-title-container button">
        <span class="offering-title-text">
          <span>Branding, Marketing,</span>
        </span>
        <span class="offering-title-text1">
          <span>External Communications</span>
        </span>
      </div>
    </a>
    <a href="empirical-u-x-u-i.html" class="offering-sections-navlink1">
      <div class="offering-sections-container1 button">
        <span class="offering-sections-text2">
          <span>Empirical UI & UX</span>
        </span>
      </div>
    </a>
    <a
      href="data-analysis-scientific-writing.html"
      class="offering-sections-navlink2"
    >
      <div class="offering-sections-container2 button">
        <span class="offering-sections-text3"><span>Data Analysis</span></span>
        <span class="offering-sections-text4">
          <span>Scientific Writing</span>
        </span>
      </div>
    </a>
    <a href="healthcare.html" class="offering-sections-navlink3 button">
      <span>Healthcare</span>
    </a>
  </nav>
</div>
